# Build directories
build/
cmake-build-*/
out/

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates
*.VC.db
*.VC.opendb

# Compiled Object files
*.obj
*.o

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps